.wrapper__language {
  display: flex;
  justify-content: center;
  &__inner {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &__title {
      text-align: center;
      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      p {
        max-width: 30rem;
        font-size: 0.9rem;
        color: silver;
      }
    }
    &__content {
      width: 100%;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      gap: 4rem;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper__language {
    &__inner {
      width: 80%;
      &__title {
        h1 {
          font-size: 2rem;
        }
        p {
          max-width: 20rem;
        }
      }
      &__content {
        gap: 2rem;
      }
    }
  }
}
