.wrapper__qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__inner {
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    gap: 4rem;
    &__qrcode {
      background-color: rgb(31, 31, 31);
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      border: 0.01rem solid rgb(104, 104, 104);
      box-shadow: 0 0 0.5rem rgb(104, 104, 104);
    }
    &__create {
      font-size: 1rem;
      background-color: rgb(31, 31, 31);
      border: 0.01rem solid rgb(104, 104, 104);
      padding: 0.8rem 2rem;
      border-radius: 6rem;
      color: #fff;
      width: 100%;
      max-width: 22rem;
    }
  }
}
