.wrapper__header {
  width: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  &__inner {
    margin: auto;
    width: 50%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
    border-radius: 6rem;
    backdrop-filter: blur(2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    border: 0.01rem solid rgba(255, 255, 255, 0.1);
    &__logo {
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 0.1rem;
      display: flex;
      margin-left: 1rem;
    }
    &__nav-bar {
      display: flex;
      gap: 2rem;
      align-items: center;
      a {
        font-size: 0.9rem;
        font-weight: bold;
        transition: 0.25s;
        &:hover {
          text-decoration: underline;
        }
      }
      button {
        font-size: 0.9rem;
        font-weight: bold;
        transition: 0.25s;
        padding: 0.4rem 1.5rem;
        border-radius: 6rem;
        background-color: #303030;
        color: #fff;
        &:hover {
        }
      }
    }
  }
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 1440px) {
  .wrapper__header {
    &__inner {
      width: 70%;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper__header {
    &__inner {
      width: 90%;
      justify-content: center;
      &__logo {
        font-size: 1.2rem;
      }
      &__nav-bar {
        display: none;
      }
    }
  }
}
