.wrapper__loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2rem;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 5s linear infinite;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}
