.wrapper__not-found {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-gradient {
  font-size: 10rem;
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 5s linear infinite;
  letter-spacing: 0.2rem;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
