.wrapper__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #3b3a3a;
  }
  h2 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.3;
    margin-top: 1rem;
    text-align: center;
  }
  &__slider {
    margin-top: 2rem;
    max-width: 70rem;
    width: 100%;
    height: 35rem;
    margin-top: 4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: 'Kéo hình';
      position: absolute;
      z-index: 10;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.4rem 2rem;
      border-radius: 0 0 0 0.5rem;
      font-weight: bold;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper__banner {
    h3 {
      font-size: 0.8rem;
      margin-top: 2rem;
    }
    h2 {
      font-size: 1.8rem;
    }
    &__slider {
      height: 25rem;
    }
  }
}
