.wrapper__banner {
  width: 100%;
  height: 100vh;
  position: relative;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 30%;
  //   height: 30%;
  //   border-radius: 50%;
  //   background-color: var(--color-theme-primary);
  //   z-index: 1;
  //   right: 30%;
  //   top: 50%;
  //   transform: translate(50%, -50%);
  // }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 30%;
  //   height: 30%;
  //   border-radius: 50%;
  //   left: 30%;
  //   top: 50%;
  //   transform: translate(0%, -50%);
  //   background-color: var(--color-theme-secondary);
  // }
  &__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: var(--filter-blur);
    display: flex;
    justify-content: center;
    &__content {
      width: 90%;
      height: 100%;
      display: flex;
      &__detail {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        gap: 0.5rem;
        h1 {
          font-size: 3.5rem;
          text-align: center;
          span {
            background: -webkit-linear-gradient(var(--color-primary), var(--color-secondary));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 0.1rem var(--color-white);
          }
        }
        p {
          letter-spacing: 0.2rem;
          text-align: center;
        }
        button {
          margin-top: 2rem;
          background-color: #007aff;
          font-weight: bold;
          color: #fff;
          cursor: pointer;
          padding: 0.8rem 3rem;
          border-radius: 6rem;
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
      }
      &__image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &__frame {
          width: 30rem;
          height: 30rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          &__avatar {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5rem;
            transform: rotate(25deg);
          }
          &__icon {
            position: absolute;
            width: 130%;
            animation: move 10s infinite;
          }
        }
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@media screen and (max-width: 768px) {
  .wrapper__banner {
    &__inner {
      &__content {
        flex-direction: column-reverse;
        &__detail {
          h1 {
            font-size: 2rem;
          }
        }
        &__image {
          align-items: flex-end;
          &__frame {
            width: 15rem;
            height: 15rem;
          }
        }
      }
    }
  }
}
